# ignore all
*

# include
!.gitignore
!README.md

!docs/
!docs/**

!config/
!config/**

!mods/
!mods/**

!resourcepacks/
!resourcepacks/**

!shaderpacks/
!shaderpacks/**

!options.txt
!clean.bat
!clone.bat
!pull.bat
!winevent.ps1

# ignore caches and path based configs
config/worldedit/.archive-unpack/**
config/worldedit/sessions/**

config/replaymod-screenshotsettings.json

config/crash_assistant/modlist.json
config/skinrestore/mojang_profile_cache.json
config/jade/profiles/usernamecache.json
config/skinshuffle/presets.json
config/skinshuffle/skin-caches.json
config/voicechat/username-cache.json

config/spark/tmp/**
config/spark/tmp-client/**
config/spark/profile-**

config/tetrismc/high_scores.json

# old versions
**/prev
